name: Playwright E2E Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  e2e:
    name: Playwright
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      NODE_ENV: test
      BASE_URL: 'https://natours-abishek-9cbc3fa443ff.herokuapp.com'
      TEST_USER_EMAIL: 'abishek3622@gmail.com'
      TEST_USER_PASSWORD: 'admin@1234'

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install dependencies
        run: npm install
      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test login.spec.ts --project chromonium
        env:
          CI: true

      - name: Upload Playwright HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report
          retention-days: 7

      - name: Upload test results (screenshots, traces)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-test-results
          path: e2e/test-results
          retention-days: 7
